body {
    background-color: rgb(204, 232, 255);
    display: flex;
    justify-content: center;
}

.todo-container {
    background-color: #fff;
    margin-top: 1rem;
    text-align: center;
    width: 500px;
    border-radius: 30px;
    box-shadow: 0 0 30px #999;
}

.list-group > .list-group-item {
    display: flex;
    justify-content: space-between;
}

.todo-container * {
    padding: 7px;
}

.messages {
    display: none;
}

.mark-done {
    text-decoration: none;
    text-align: left;
}

.mark-done.done {
    text-decoration: line-through;
}

.todo-list > * {
    margin-bottom: 10px;
}

.progress {
    height: 3rem;
}
